- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h2= link_to restaurant.name, restaurant_path(restaurant)
    %h2= restaurant.description
    = image_tag restaurant.image.url(:thumb)
    %h2= "Reviews:"
    - restaurant.reviews.each do |review|
      %h3= review.thoughts

    - if restaurant.user == current_user
      = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
      = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
    - if current_user.present? && !current_user.has_reviewed?(restaurant)
      = link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
- else
  %h1 No restaurants yet!

%a(href=new_restaurant_path) Add a restaurant
